.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}

button{
  width:50px;
  height:30px;
}

h6{
  font-size:20px;
  text-align: right;
  background: white;
  border:1px solid;
  width:130px;
  height: 30px;
  margin: auto;
}

.App{
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 50px));
  grid-auto-rows: max-content;
  width: auto;
  margin: auto;
  border: 1px solid;
}

.output{
  grid-column: span 4;
  width: auto;
  height: 30px;
}

.answer, .clearall, .backspace{
  grid-column: span 2;
  width: auto;
  height: 30px;
}

.operator_cont{
  display: inline-block;
  transform: translateY(-5px);
  margin-top: -33px;
  font-size: 15px;
}